
div.el-dialog {
  width: 800px;
}

#evaluationForm .el-form-item .el-form-item {
  margin-bottom: 20px;
}

#answerForm {
  margin-bottom: 10px;
}

.edui-popup-content.edui-default{ height: auto !important; }
